@page
@model RazorPageKurs.Pages.Modul010.UploadFileModel
@{
}


<form enctype="multipart/form-data" method="post">
    
    <!-- Dialog Box für File Selektierung -->
    <input type="file" name="datei" dirname="C:\" />
    
    <div>
        <!-- Submit Button -->
        <input type="submit" value="Upload" />
    </div>
</form>